@using WebUI.Models.Testimonial
@model AddTestimonialViewModel
@{
    ViewData["Title"] = "AddTestimonial";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>Testimonial Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Title </label>
    <input type="text" asp-for="Title" class="form-control" />
    <label>Description</label>
    <input type="text" asp-for="Description" class="form-control" />
    <label>Image</label>
    <input type="text" asp-for="Image" class="form-control" />
    <br />
    <button class="btn btn-primary">Testimonial Ekle</button>
</form>


        @*[Key]
        public int TestimonialID { get; set; }
        public string Name { get; set; }
        public string Title { get; set; }
        public string Description { get; set; }
        public string Image { get; set; }*@